Cliente/web/WEB-INF/wsdl/localhost_21424/servidorSunat/validaRUC.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://sunat.upc.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sunat.upc.edu/">

<xs:element name="consultaRuc" type="tns:consultaRuc" />

<xs:element name="consultaRucResponse" type="tns:consultaRucResponse" />

<xs:complexType name="consultaRuc">
<xs:sequence>
<xs:element name="ruc" type="xs:string" minOccurs="0" />
<xs:element name="usuario" type="xs:string" minOccurs="0" />
<xs:element name="clave" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaRucResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0" />
<xs:element name="clave" type="xs:string" minOccurs="0" />
<xs:element name="direccion" type="xs:string" minOccurs="0" />
<xs:element name="fecnaci" type="xs:string" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="rpta" type="xs:string" minOccurs="0" />
<xs:element name="ruc" type="xs:string" minOccurs="0" />
<xs:element name="usuario" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>